:root {
  --dark-backgroud: #191825;
  --dark-purple: #865DFF;
  --dark-white: #E6E6E6;
  --dark-pink: #FFA3FD;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Dovemayo_gothic', sans-serif;
}

body.dark {
  background-color: var(--dark-backgroud);
  color: var(--dark-white);
  text-shadow: 0 0 0.5rem var(--dark-purple);
}

#header-container {
  width: 50vw;
  min-width: 360px;
  text-align: center;
}

#header-title {
  font-family: 'Tilt Neon', cursive;
  font-size: 3rem;
  color: var(--dark-pink);
  text-shadow: 0 0 1rem var(--dark-pink);
}

#header-info :nth-child(2) {
  text-align: end;
}

#header-link {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

#header-link a {
  color: var(--dark-white);
  text-decoration: none;
}

#header-link a:hover {
  color: var(--dark-pink);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  min-width: 360px;
}

#card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 15vw));
  gap: 0.5rem;
  justify-items: stretch;
  list-style: none;
  width: 100%;
  min-width: 360px;
  padding: 0;
}

#card-list > .card-container {
  box-sizing: border-box;
  padding: 0.5rem;
  border: 2px solid var(--dark-purple);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem var(--dark-purple), 0 0 1rem var(--dark-purple) inset;
}

#card-list > .card-container:hover {
  border: 2px solid var(--dark-pink);
}

#card-list > .card-container > a {
  display: flex;
  justify-content: center;
}

#card-list > .card-container .card-image {
  display:block;
	width:100%;
	height:auto;
}